.hero {
    width: 100%;
    padding: 30px 0;

}

.hero-content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    /* border: 2px solid black; */
}

.hero-text {
    flex: 1;
}

.tagline {
    color: #2563eb;
    font-size: 18px;
    font-weight: 600;
}

.hero-text h1 {
    font-size: 3rem;
    color: #222;
    margin: 20px 0;
    line-height: 1.2;
}

.hero-text p {
    color: #666;
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.primary-btn {
    background: #2563eb;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.primary-btn:hover {
    background: #1d4ed8;
}

.secondary-btn {
    background: transparent;
    color: 0077ff;
    border: 2px solid #2563eb;
    padding: 14px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

}

.secondary-btn:hover {
    background: #2563eb;
    color: white;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    height: 400px;
    object-fit: cover;
    transition: transform 0.4s ease,box-shadow 0.4s ease;
    overflow: hidden;

}
.hero-image img:hover{
    transform: scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

@media (max-width:768px) {
    .hero-content {
        flex-direction: column;
        text-align: flex-start;
        width: 100%;
        padding: 0 20px;
        margin: 0;
    }
 .hero-text {
     width: 100%;
     padding: 0;
     margin: 0;
    }

    .hero-text h1 {
        font-size: 2.3rem;
    }

    .hero-text p {
        
        width: 300px;
    }

    .hero-buttons {
        justify-content: left;
        flex-wrap: wrap;
    }
    .hero-image{
      margin: auto;
    }
    .hero-image img {
        height: 320px;
        width: 100%;
    }

    /* .hero-image {
        margin-top: 10px;
    } */
}